<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - eCashier</title>
    <link rel="icon" type="image/svg" href="/images/logo-icon.svg">

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/eCashier.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">
                    <img src="/images/aubh_logo.png" height="100">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end">
                    @* <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Faculty">Faculty</a>
                        </li>
                    </ul> *@
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>

    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-auto vh-100 bg-white border-end box-shadow">
                <ul class="navbar-nav m-2">
                    <li class="nav-item p-2">
                        <a class="btn nav-item link-dark" asp-page="/Faculty">Dashboard</a>
                    </li>
                    <li class="nav-item p-2">
                        <a class="btn nav-item link-dark" asp-page="/Admin/OrderPages/Index">Orders</a>
                    </li>
                    <li class="nav-item p-2">
                        <a class="btn nav-item link-dark" asp-page="/Admin/CustomerPages/Index">Customers</a>
                    </li>
                    <li class="nav-item p-2">
                        <a class="btn nav-item link-dark" asp-page="/Admin/ItemPages/Index">Inventory</a>
                    </li>
                    <li class="nav-item p-2">
                        <a class="btn nav-item link-dark" asp-page="/Admin/CategoryPages/Index">Categories</a>
                    </li>
                    @* <li class="nav-item p-2">
                        <a class="btn nav-item link-dark" asp-page=>Users</a>
                    </li> *@
                </ul>
            </div>
            <div class="col mt-3">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
        </div>
    </div>



    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - eCashier - <a href="https://github.com/farooqameen" target="_blank">About</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>