@page
@model FacultyModel
@{
    ViewData["Title"] = "Faculty";
    Layout = "_Backend";
}

<div class="container">
    <div class="card">
        <h6 class="font-weight-bold card-header">
            Sample Dashboard
        </h6>
        <div class="card-body">
            Sample Dashboard
        </div>
    </div>
</div>
