@page
@model eCashier.Pages.FacultyModel
@{
    ViewData["Title"] = "Faculty";
    Layout = "_Staff";
}

<div class="container-fluid">
    <div class="card">
        <h6 class="font-weight-bold card-header">
            Welcome
        </h6>
        <div class="card-body">
            This is the main faculty page.
        </div>
    </div>
</div>