@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    Layout = "_Layout";
}

<div class="container">
    <form method="post">
        <div class="card my-3">
            <h6 class="font-weight-bold card-header">
                Customer Information
            </h6>
            <div class="card-body row">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group mb-3 col">
                    <label asp-for="Customer.FirstName" for="fname">First name:</label>
                    <input id="fname" class="form-control" asp-for="Customer.FirstName" />
                    <span asp-validation-for="Customer.FirstName" class="text-danger"></span>
                </div>
                <div class="mb-3 col">
                    <label asp-for="Customer.LastName" for="lname">Last name:</label>
                    <input id="lname" class="form-control" asp-for="Customer.LastName" />
                    <span asp-validation-for="Customer.LastName" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <input id="sid" class="form-control" asp-for="Customer.StudentId" />
                    <span asp-validation-for="Customer.StudentId" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Customer.Email" for="email">Email:</label>
                    <input id="email" class="form-control" asp-for="Customer.Email" />
                    <span asp-validation-for="Customer.Email" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Customer.Telephone">Phone:</label><br />
                    <input class="form-control" id="phone" asp-for="Customer.Telephone" />
                    <span asp-validation-for="Customer.Telephone" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="card mb-3">
            <div class="card-body row">
                <div class="mb-3 col">
                    <label asp-for="Item.Id" class="control-label">Select an item:</label>
                    <select id="itemSelect" asp-for="Item.Id" class="form-control" asp-items="ViewBag.ItemId">
                        <option value="" disabled selected>No Item</option>
                    </select>
                    <span asp-validation-for="Item.Id" class="text-danger"></span>
                </div>

                <input type="hidden" asp-for="Item.Name" value="Item.Name"/>

                <div class="mb-3 col col-md-3">
                    <label asp-for="Item.Price" for="price">Price:</label>
                    <input id="price" class="form-control" asp-for="Item.Price" readonly />
                    <span asp-validation-for="Item.Price" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Customer.Notes" for="note">Note:</label>
                    <textarea id="note" name="note" class="form-control" asp-for="Customer.Notes"></textarea>
                    <span asp-validation-for="Customer.Notes" class="text-danger"></span>
                </div>
                <div class="mb-3 d-flex justify-content-start">
                    <input type="submit" value="Checkout" class="btn btn-success" />
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    <script>
        $(document).ready(function() {
            $('#itemSelect').change(function() {
                var selectedItem = $(this).val();
                //console.log('selectedItem: ', selectedItem)
                if (selectedItem) {
                    $.get('/Index?handler=Price', {
                        itemId: selectedItem
                    }).done(function(data) {
                        $('#price').val(data.price);
                        //console.log("price: ", data)
                        if (!data.allowAnyPrice) {
                            $('#price').prop('readonly', true);
                        } else {
                            $('#price').prop('readonly', false);
                        }
                    });
                } else {
                    $('#price').val(null);
                }
            });
        });
    </script>
}
