@page
@model eCashier.Pages.ItemPages.CreateModel

@{
    ViewData["Title"] = "Create";
}

<div class="card">
    <h3 class="card-header">Create</h3>
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Item.Name" class="control-label"></label>
                        <input asp-for="Item.Name" class="form-control" />
                        <span asp-validation-for="Item.Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Item.SKU" class="control-label"></label>
                        <input asp-for="Item.SKU" class="form-control" />
                        <span asp-validation-for="Item.SKU" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Item.CategoryId" class="control-label">Category</label>
                        <select asp-for="Item.CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="Item.Price" class="control-label"></label>
                        <input asp-for="Item.Price" class="form-control" />
                        <span asp-validation-for="Item.Price" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Item.Tax" class="control-label"></label>
                        <input asp-for="Item.Tax" class="form-control" />
                        <span asp-validation-for="Item.Tax" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Item.NotificationEmails" class="control-label"></label>
                        <input asp-for="Item.NotificationEmails" class="form-control" />
                        <span asp-validation-for="Item.NotificationEmails" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Item.InternalDescription" class="control-label"></label>
                        <input asp-for="Item.InternalDescription" class="form-control" />
                        <span asp-validation-for="Item.InternalDescription" class="text-danger"></span>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="Item.AllowAnyPrice" /> @Html.DisplayNameFor(model => model.Item.AllowAnyPrice)
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="Item.IsVisible" /> @Html.DisplayNameFor(model => model.Item.IsVisible)
                        </label>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-page="Index">Back to List</a>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
